.overlay {
    border:1px solid black;
    position:absolute;
    left:100px;
    right:100px;
    top:100px;
    bottom:100px;
    padding:8px;
    background-color:#fff;
}

.release-list {
    list-style-type:none;
    margin:0;
    padding:5px;
    width:100%;
}

.release-list li {
    list-style-type:none;
    height:36px;
    width:100%;
}

.release-list li .title {
    font-weight:bold;
    float:left;
}

.release-list li.year,
.release-list li.country
{
    float:right;
}